

.image-tools-form-tip {
    display: inline-block !important;
    /* width: 70%; */
    background: var(--red-ui-form-tips-background, #ffe);
    border-radius: 2px;
    border: 1px solid var(--red-ui-secondary-border-color, #ddd);
    margin-top: 2px;
    width: calc(100% - 150px);
    overflow: auto;
    /* max-width: 450px; */
}
.image-tools-ui-container {
    display: inline-block;
    width: calc(100% - 150px);
}
.image-tools-row>label {
    width: 120px !important;
}

#convertToBatchButton {
    width: 28px;
    height: 34px;
} 

#image-tools-barcode-types > ul > li {
    white-space: pre-line;
}

#image-tools-barcode-types > ul > li > span {
    font-family: monospace;
    font-size: smaller;
    font-style: italic;
}


.image-tools-checklist {
    margin: auto;
    display: inline-grid;
}

/*Checkboxes styles*/
.image-tools-checklist > input[type="checkbox"] { display: none; }

.image-tools-checklist > input[type="checkbox"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 5px;
    /* font: 14px/20px 'Open Sans', Arial, sans-serif; */
    /* color: #ddd; */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    width: 100%;
}

.image-tools-checklist > input[type="checkbox"] + label:last-child { margin-bottom: 0; }

.image-tools-checklist > input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  /* border: 1px solid #6cc0e5; */
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

.image-tools-checklist > input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}